/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #532f7d !important;
  --toolbarbutton-icon-fill: #c6a0f6 !important;
  --toolbar-field-color: #cad3f5 !important;
  --tab-selected-textcolor: #c6a0f6 !important;
  --toolbar-color: #cad3f5 !important;
  --arrowpanel-color: #cad3f5 !important;
  --arrowpanel-background: #24273a !important;
  --sidebar-text-color: #cad3f5 !important;
/*  --zen-main-browser-background: #24273a !important; */
}

.sidebar-placesTree {
  background-color: #24273a !important;
}

#zen-workspaces-button {
  background-color: #24273a !important;
}

#TabsToolbar {
  background-color: #24273a !important;
}

.urlbar-background {
  background-color: #24273a !important;
}

.urlbar-input::selection {
  color: #24273a !important;
  background-color: #c6a0f6 !important;
}

.urlbarView-url {
  color: #a5adcb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c6a0f6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #e8c6ff !important;
  --identity-icon-color: #e8c6ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c6a0f6 !important;
  --identity-icon-color: #c6a0f6 !important;
}

.identity-color-green {
  --identity-tab-color: #86e08d !important;
  --identity-icon-color: #86e08d !important;
}

.identity-color-yellow {
  --identity-tab-color: #e7e897 !important;
  --identity-icon-color: #e7e897 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbdb7b !important;
  --identity-icon-color: #dbdb7b !important;
}

.identity-color-red {
  --identity-tab-color: #e06c5f !important;
  --identity-icon-color: #e06c5f !important;
}

.identity-color-pink {
  --identity-tab-color: #8c6fce !important;
  --identity-icon-color: #8c6fce !important;
}

.identity-color-purple {
  --identity-tab-color: #9b84b8 !important;
  --identity-icon-color: #9b84b8 !important;
}

#zen-appcontent-navbar-container {
  background-color: #24273a !important;
}
